.userInput{
    display: block;
    margin: 10px;
    width: 260px;
    font-size: 20px;
}
.btnAuth{
    background-color:#0084ff ;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 6px;
    color: white;
    margin: auto 120px;
}
.btnAuth:hover{
    background-color: #0056b3;
}
.title{
    text-align: center;
    margin: 10px auto;
    font-size: 40px;
}