.homeLogout{
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
}
.netTransactionvalue{
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
}
.netTransactionItem{
    
    border: 1px solid #0084ff;
    padding: 10px;
    border-radius: 10px;
}
.net-transaction-value-title{
    display: block;
    text-align: center;
}
.net-transaction-value-amount{
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.transactionsContainer{
    max-height: 200px;
    overflow-y: scroll;
}